@media (max-width: 767px) {
  .main-footer__container {
    display: flex;
    color: #7e7e82;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    margin-left: 4px;
    margin-right: 4px;
    flex-wrap: wrap;
    align-content: center;
    align-self: center;
  }
  .item1__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .main-footer__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
  }
  .item2__container {
    align-items: flex-end;
  }
  .item2__container a,
  .item2__container div {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .main-footer__container {
    display: flex;
    color: #7e7e82;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    /* align-items: flex-start;  */
    margin-top: 20px;
  }
  .main-footer__container > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 10px;
  }
  .item1,
  .item2 {
    width: 100%;
  }
  .item2 {
    display: flex;
    justify-content: flex-end;
  }
  .item1__container {
    align-items: flex-start;
  }
  .item1__container a,
  .item1__container div {
    text-align: left;
  }
  .item2__container {
    align-items: flex-end;
  }
  .item2__container a,
  .item2__container div {
    text-align: right;
  }
}
