ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul.price-item__table li {
  border-bottom: 1px solid #eaeaea;
  padding: 8px;
}
ul.price-item__table .li-bot {
  border-bottom: none;
}

.price-container {
  margin-left: 16px;
  margin-right: 16px;
}
@media (max-width: 767px) {
  .price-container {
    display: none;
  }
  .price-types {
    font-family: 'TTLakes-Medium';
    height: 200px;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 6px;
  }
  .price-logo {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    justify-content: space-between;
    padding: 16px;
  }
  .price-it__container {
    display: flex;
    flex-direction: column;
    color: #7e7e82;
  }
  .price-it {
    color: #1b1c21;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    position: relative;
  }
  .price-btn {
    position: absolute;
    left: 110px;
    bottom: 0px;
  }
  .price-it__container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .swiper-price-container {
    display: none;
  }
  .price-item {
    /* margin-left: 40px; */
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 53% 19% 19% auto;
    color: #7e7e82;
  }
  .price-item__table {
    display: grid;
    grid-template-columns: 45% 19% 19% auto;
    color: #7e7e82;
    background-color: #ffffff;
    border-radius: 6px;
    justify-content: stretch;
    /* justify-items: center; */
    align-items: stretch;
    align-content: space-around;
    row-gap: 23px;
    column-gap: 0;
    padding: 10px;
  }
  .table-cell {
    color: #1b1c21;
    display: flex;
    justify-content: center;
  }
  .cell {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  /* .price-item__table {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr auto; 
    row-gap: 1px;
    background-color: #fff; 
}

.row {
    display: contents;
    background-color: #fff; 
}

.row > div {
    padding: 10px; 
}

.button img {
    width: 100%;
    cursor: pointer; 
}

.button {
    padding: 10px; 
    display: flex; 
    align-items: center;
    justify-content: center; 
} */
}
.price-text,
.price-text2 {
  margin: 24px;
}
.price-text2 {
  font-family: 'TTLakes-Medium';
  color: #1b1c21;
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.price-text2::after {
  content: '';
}
