@media (max-width: 1119px) {
  .side-toggle-menu {
    display: none;
  }
}
@media (min-width: 1120px) {
  .toggle-menu {
    display: none;
  }
  body {
    margin-left: 306px;
  }
  .side-toggle-menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 306px;
    background-color: #ffffff;
    height: 100vh;
    font-size: 16px;
  }
  .toggle-menu__header1 {
    margin-top: 7px;
  }
  .toggle-menu__main1 {
    margin-top: 40px;
    font-family: 'TTLakes-Medium';
    background-color: #ffffff;
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .toggle-menu__list1 {
    /* margin-bottom: 100px; */
  }
  .footer-phone1 {
    font-family: 'TTLakes-Bold';
    font-size: 24px;
    margin-bottom: 10px;
  }
  .toggle-menu__footer-container1 {
    display: flex;
    /* height: 100vh; */
    width: 300px;
    justify-content: flex-start;
    margin-left: 20px;
    /* align-items: flex-end; */
  }
  .toggle-menu__footer1 {
  }
}
@media (min-width: 1120px) and (max-width: 1230px) {
  .CPS-img {
    width: 500px !important;
    height: auto !important;
  }
}
